.product{
    .filter {
        position: relative;
        
        .ProductForm {
            background-color: red;
            width:350px;
            position:absolute;
            left: 250px;
            padding: 20px;
            input{
                width: 300px;
                height: 30px;
            }
        }
    
    }
}