.page{
    margin-top: 40px;
}
.navbar {
    width: 100%;
    height: 40px;
    z-index: 99;
    // background-color: red;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

    .logo {
        height: 100%;
        // width: 40px;
        // background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        .image {
            width: 40px;
        }

        .i {
            font-size: 2rem;
            color: rgb(3, 5, 146);
        }

        .kart {
            font-size: 2rem;
            color: rgb(248, 1, 248);
        }
    }

    .links {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        // background-color: yellow;

        .link {
            margin: 0 1px;
            padding: 10px;
            // background-color: #fff;
            cursor: pointer;

            a {
                text-decoration: none;
                color: black;
                font-size: 1.5rem;
            }
        }
    }

    .profileNav {
        position: absolute;
        z-index: 99;
        list-style: none;
        background-color: rgb(223, 223, 223);
        top: 40px;
        right: 5%;
        border-radius: 10px;

        .profileLinks {
            list-style: none;

            .profileLink {
                cursor: pointer;
                width: 180px;
                margin: 10px;
                padding: 5px 10px;

                // border-top: 1px solid black;
                // background-color: red;
                a {
                    text-decoration: none;
                    font-size: 1.2rem;

                }
            }
        }
    }
}

.footer {
    background-color: rgb(238, 238, 238);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
    padding: 10px;
}

.product {
    margin-top: 60px;
    display: flex;
    justify-content: center;

    .filter {
        background-color: yellow;
        width: 250px;
    }

    .cards {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: rgb(0, 255, 255);

        .card {
            width: 250px;
            height: 320px;
            border: 2px solid;
            padding: 3px;
            background-color: red;

            .productImage {
                width: 240px;
                height: 240px;
                background-color: green;
            }

            .property {
                width: 240px;
                height: 70px;
                background-color: yellow;

                .name {
                    background-color: rgb(166, 211, 155);
                }

                .color {
                    background-color: rgb(204, 117, 117);
                }

                .price {
                    background-color: rgb(155, 154, 214);
                }

                .button {
                    display: flex;
                    background-color: rgb(192, 154, 214);
                    justify-content: space-around;
                    align-items: center;

                    button {
                        padding: 4px 10px;
                    }
                }
            }
        }
    }
}