.navbar {
    width: 100%;
    height: 40px;
    // background-color: red;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 0 5%;
    .logo{
        height: 100%;
        width: 40px;
        // background-color: green;
    }
    .links {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        // background-color: yellow;

        .link {
            margin: 0 1px;
            padding: 10px;
            // background-color: #fff;
            cursor: pointer;

            a {
                text-decoration: none;
                color: black;
                font-size: 1 rem;
            }
        }
    }
}
.footer{
    background-color: rgb(238, 238, 238);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
    padding: 10px ;
}