body {
    background-color: rgb(245, 245, 245);

}

.page {
    // margin-top: 40px;
    margin: 40px 5% 20px 5%;
}

.navbar {
    width: 100%;
    height: 50px;
    z-index: 99;
    background-color: rgb(0, 23, 66);
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

    .logo {
        height: 100%;
        // width: 40px;
        // background-color: green;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;

        .image {
            width: 40px;
        }

        .i {
            font-size: 2rem;
            color: rgb(255, 255, 255);
        }

        .kart {
            font-size: 2rem;
            color: rgb(248, 71, 1);
        }
    }

    .search {
        display: flex;
        align-items: center;
        // position: relative;
        margin: 0 20px;
        min-width: 200px;
        width: 40%;
        height: 30px;
        background-color: #fff;
        padding: 0 10px;
        input {
            
            // width: 400px;
            width: 100%;
            // height: 30px;
           
            border: none;
            font-size: 16px;
            color: rgb(0, 23, 66);

            &:focus,
            &:focus {
                outline: none;
            }
        }

        .button {
            // position: absolute;
            height: 20px;
            width: 20px;
            // right: 5px;
            color: rgb(0, 23, 66);
            cursor: pointer;
        }
    }

    .links {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        // background-color: yellow;

        .link {
            margin: 0 1px;
            padding: 10px;
            // background-color: #fff;
            cursor: pointer;
            min-width: 100px;
            text-align: center;

            a {
                text-decoration: none;
                color: rgb(255, 255, 255);
                font-size: 1.2rem;
            }

            .cartCount {
                position: absolute;
                width: 20px;
                height: 20px;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 10px;
                font-weight: 500;
                border: 1px solid rgb(0, 23, 66);
                color: rgb(0, 23, 66);
                top: 5px;
                right: calc(5% + 30px);

            }
        }
        .signin{
            // border: 1px solid rgb(255, 255, 255);
            background-color: #fff;
            height: 35px;
            
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                color: rgb(0, 23, 66);
                font-size: 1.2rem;
                font-weight: 500;
                cursor: pointer;
               
            }
            &:active{
                // background-color: red;
                box-shadow: 0 0 4px 2px rgb(165, 165, 165);
            }
        }
    }

    .profileNav {
        position: absolute;
        z-index: 99;
        list-style: none;
        background-color: rgb(0, 23, 66);
        top: 55px;
        right: calc(5% + 260px);
        border-radius: 10px;
        box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.411);

        &::before {
            position: absolute;
            content: "";
            width: 20px;
            height: 20px;
            background-color: rgb(0, 23, 66);
            box-shadow: -8px -8px 8px rgba(0, 0, 0, 0.603);
            z-index: 0;
            left: 90px;
            top: -8px;
            transform: rotateY(0deg) rotate(45deg);
        }

        .profileLinks {
            list-style: none;

            .profileLink {
                cursor: pointer;
                width: 180px;
                margin: 10px;
                padding: 5px 10px;

                // border-top: 1px solid black;
                // background-color: red;
                a {
                    text-decoration: none;
                    font-size: 1.2rem;
                    color: #fff;

                }
            }
        }
    }
}

.footer {
    background-color: rgb(238, 238, 238);
    width: 100%;
    // position: fixed;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    bottom: 0;
    padding: 10px;
}

.product {
    margin-top: 60px;
    display: flex;
    justify-content: center;

    .filter {
        background-color: yellow;
        width: 250px;
    }

    .cards {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        // background-color: rgb(0, 255, 255);

        .card {
            width: 250px;
            height: 320px;
            border: 2px solid;
            padding: 3px;
            // background-color: red;

            .productImage {
                width: 240px;
                height: 240px;
                // background-color: green;

                img {
                    width: 240px;
                    height: 240px;
                    object-fit: contain;
                }
            }

            .property {
                width: 240px;
                height: 70px;
                background-color: yellow;

                .name {
                    background-color: rgb(166, 211, 155);
                }

                .color {
                    background-color: rgb(204, 117, 117);
                }

                .price {
                    background-color: rgb(155, 154, 214);
                }

                .button {
                    display: flex;
                    background-color: rgb(192, 154, 214);
                    justify-content: space-around;
                    align-items: center;

                    button {
                        padding: 4px 10px;
                    }
                }
            }
        }
    }
}